<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="editLink" method="post">
    <input type="text" name="Title" placeholder="Title" value="<%=work.Title%>">
    <input type="text" name="Description" placeholder="Description" value="<%=work.Description%>">
    <input type="link" name="Link" placeholder="Link" value="<%=work.Link %>">
    <button type="submit">Submit</button>
    </form>
</body>
</html>