<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        a {
            display: block;
            margin: 10px;
            padding: 10px;
            text-align: center;
            color: #333;
            text-decoration: none;
            border: 1px solid #333;
            border-radius: 5px;
            background-color: #fff;
        }

        a:hover {
            background-color: #333;
            color: #fff;
        }
    </style>
</head>

<body>
    <a href="/todo">Tell what to do.</a>
    <a href="/add">Add data</a>
    <a href="/all">All data</a>
</body>

</html>
