<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <td>
                <%= work.Title %>
            </td>
        </tr>
        <tr>
            <td>
                <%=work.Description %>
            </td>
        </tr>
        <tr>
            <td>
                <a href="<%=work.Link %>" target="_blank"><%=work.Link %></a>
            </td>
        </tr>
        </tr>
    </table>
    <a href="/edit">Edit data</a>
</br>
    <a href="/add">Add data</a>
</br>
    <a href="/delete">Delete data</a>
</body>

</html>